<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Aravind E-Commerce Website </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery1.min.js"></script>

    <!-- start menu -->
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/megamenu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <!--start slider -->
    <link rel="stylesheet" href="css/fwslider.css" media="all">
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/css3-mediaqueries.js"></script>
    <script src="js/fwslider.js"></script>
    <!--end slider -->
    <script src="js/jquery.easydropdown.js"></script>
    <script type="text/javascript" src="../../javascripts/app/admin/app.js"></script>

</head>
<body>

    <div class="header-top">
        <div class="wrap">

            <div class="cssmenu">
                <ul>
                    <li class="active"><a href="/FileUpload">Account</a></li>
                    <li>
                        <ul>
                            <li><a href="/create">Create Products</a></li>
                            <li><a href="/Update">Update Products</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="/dashboard"> Descriptive Analysis </a></li>
                    <li><a href="checkout.html">Wishlist</a></li> |
                    <li><a href="checkout.html">Checkout</a></li> |
                    <li><a href="login.html">Log In</a></li> |
                    <li><a href="register.html">Sign Up</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="wrap">
            <div class="header-bottom-left">
                <div class="logo">

                    <a href="http://www.maravind.com/"><img src="<%= contactimage %>" width="150" height="40" alt="" /></a>

                </div>
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <li class="active grid"><a href="/">Home</a></li>
                        <li>
                            <a class="color4" href="#">Departments</a>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Books</h4>
                                            <ul>
                                                <li><a href="books.html">database</a></li>
                                                <li><a href="books.html">Programming</a></li>
                                                <li><a href="books.html">Security </a></li>
                                                <li><a href="books.html">Web Applications</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="color7" href="/Recommended_Products">Recommended Products</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header-bottom-right">
                <form method="post" action="/GetSearchDetails">
                    <div class="search">
                        <input type="text" name="user[name]" method="post" class="textbox"  onfocus="this.value = '';"">
                        <input type="submit" value="submit" id="submit" name="submit">
                        <div id="response"> </div>
                    </div>
                </form>

                <div class="tag-list">
                    <ul class="last"><li><a href="#">Cart(0)</a></li></ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="mens">
        <div class="main">
            <div class="wrap">

                <div class="cont span_2_of_3">
                    <h2 class="head"> All Products</h2>
                    <div class="mens-toolbar">
                        <div class="sort">
                            <div class="sort-by">
                                <label>Sort By</label>
                                <select>
                                    <option value="">
                                        Position
                                    </option>
                                    <option value="">
                                        Name
                                    </option>
                                    <option value="">
                                        Price
                                    </option>
                                </select>
                                <a href=""><img src="images/arrow2.gif" alt="" class="v-middle"></a>
                            </div>
                        </div>
                        <div class="pager">
                            <div class="limiter visible-desktop">
                                <label>Show</label>
                                <select>
                                    <option value="" selected="selected">
                                        9
                                    </option>
                                    <option value="">
                                        15
                                    </option>
                                    <option value="">
                                        30
                                    </option>
                                </select> per page
                            </div>
                            <ul class="dc_pagination dc_paginationA dc_paginationA06">
                                <li><a href="#" class="previous">Pages</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <% if(data.length){

                    var quotient = Math.floor(data.length/3);
                    var remainder = data.length % 3;

                    if ( quotient > 0){
                    for(var i = 0;i < quotient * 3 ;i = i + 3) { %>

                    <div class="section group">

                        <div class="col_1_of_3 span_1_of_3">
                            <a href="loadProduct?productId=<%= data[i].Book_id %> ">
                                <div class="inner_content clearfix">
                                    <div class="product_image">
                                        <img src="<%= data[i].Image_url %>" alt="" />
                                    </div>
                                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                    <div class="price">
                                        <div class="cart-left">
                                            <p class="title"> <%=data[i].Book_name%> </p>
                                            <div class="price1">
                                                <span class="actual"><%=data[i].Book_Price %> </span>
                                            </div>
                                        </div>
                                        <div class="cart-right"> </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col_1_of_3 span_1_of_3">
                            <a href="loadProduct?productId=<%= data[i+1].Book_id %> ">
                                <div class="inner_content clearfix">
                                    <div class="product_image">
                                        <img src="<%= data[(i+1)].Image_url %>" alt="" />
                                    </div>
                                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                    <div class="price">
                                        <div class="cart-left">
                                            <p class="title"> <%=data[(i+1)].Book_name%> </p>
                                            <div class="price1">
                                                <span class="actual"><%=data[(i+1)].Book_Price %> </span>
                                            </div>
                                        </div>
                                        <div class="cart-right"> </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col_1_of_3 span_1_of_3">
                            <a href="loadProduct?productId=<%= data[i+2].Book_id %> ">
                                <div class="inner_content clearfix">
                                    <div class="product_image">
                                        <img src="<%= data[(i+2)].Image_url %>" alt="" />
                                    </div>
                                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                    <div class="price">
                                        <div class="cart-left">
                                            <p class="title"> <%=data[(i+2)].Book_name%> </p>
                                            <div class="price1">
                                                <span class="actual"><%=data[(i+2)].Book_Price %> </span>
                                            </div>
                                        </div>
                                        <div class="cart-right"> </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <% }}

                    if(remainder > 0){

                    for(var i = quotient * 3; i < data.length ; i = i + 1 ){ %>

                    <div class="section group">

                        <div class="col_1_of_3 span_1_of_3">
                            <a href="loadProduct?productId=<%= data[i].Book_id %> ">
                                <div class="inner_content clearfix">
                                    <div class="product_image">
                                        <img src="<%= data[i].Image_url %>" alt="" />
                                    </div>
                                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                    <div class="price">
                                        <div class="cart-left">
                                            <p class="title"> <%= data[i].Book_name %> </p>
                                            <div class="price1">
                                                <span class="actual"><%=data[i].Book_Price %> </span>
                                            </div>
                                        </div>
                                        <div class="cart-right"> </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                        </div>



                    </div>

                    <%}}

                    }else{ %>
                    <div>


                    </div>

                    <% } %>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="wrap">

            <div class="copy">
                <p>© 2017 Designned by <a href="http://www.maravind.com" target="_blank">Aravind</a></p>
            </div>

            <div class="f-list2">
                <ul>
                    <li class="active"><a href="about.html">About Us</a></li> |
                    <li><a href="delivery.html">Delivery & Returns</a></li> |
                    <li><a href="delivery.html">Terms & Conditions</a></li> |
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>
    </div>

</body>

</html>
